body {
    justify-content: normal;
}

section.header {
    padding-top: 30px;
    padding-bottom: 0;
}

section.icons {
    order: 1;
    padding-top: 10px;
    padding-bottom: 20px;
}

@media (max-width: 500px) {
    section {
        max-width: 100%;
    }

    section.icons {
        padding-top: 0;
        padding-bottom: 5px;
    }

    section.header nav {
        font-size: 4vw;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.header-avatar {
    padding-right: 10px;
}

.header-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
}