{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            {{ partial "page-heading.html" . }}
            <div class="markdown">
                {{ .Content }}
            </div>
            {{ with .Data.Pages }}
            <nav class="section-items">
                <ul>
                {{ range .ByWeight }}
                    {{ partial "li.html" . }}
                {{ end }}
                </ul>
            </nav>
            {{ end }}
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
