<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Params.lang }}">

<section class="header">
    <div class="container">
        <div class="content">
            <div class="flex-row">
                <a class="header-avatar" {{ printf "href=%q" ("/" | relLangURL) | safeHTMLAttr }}>
                <img class="avatar" src="https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=50"
                     rcset="https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=100 2x, https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=150 3x, https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=200 4x">
                </a>
                <a class="header-name" {{ printf "href=%q" ("/" | relLangURL) | safeHTMLAttr }}><div class="name">{{ .Site.Params.author }}</div></a>
            </div>

            <nav>
                <ul>
                    {{ range .Site.Menus.main }}
                        <li class="nav-{{ .Identifier }}"><a href="{{ .URL | absLangURL }}">{{ .Pre }}<span>{{ .Name }}</span></a></li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</section>

{{ partial "icons.html" . }}