{{ if (.Get "content-title") }}
  <h3>{{ (.Get "content-title") }}</h3>
{{ end }}

<div class="columns is-desktop is-centered is-flex-direction-row-reverse">
  {{ $width := (.Get "width") | default "is-three-quarters-desktop"}}
  <div class='column'>
    {{ if (.Get "title") }}
      <h3 class="is-size-4-desktop">{{ .Get "title" }}</h3>
    {{ end }}
    <div class="card">
      <div class="card-image">
        <figure class="image" style="margin: 0">
          {{ if (.Get "goat") }}
          {{ $goatPath :=  (path.Join "content" (path.Dir .Page.File.Path) (.Get "goat")) }}
          {{ (printf "```goat\n%s\n```" (readFile $goatPath)) | markdownify | safeHTML }}
          {{ else }}
          {{ $img := .Page.Resources.GetMatch (.Get "name") }}
          {{ with (.Get "fit") }}
          {{ $scaled := $img.Fit . }}
          <img src='{{ $scaled.Permalink | safeURL }}'/>
          {{ else }}
          <img src='{{ $img.Permalink | safeURL }}'/>
          {{end}}
          {{end}}
        </figure>
      </div>
    </div>
  </div>
  <div class="column {{ $width }}">
    {{ with .Inner}}
    {{ . | markdownify | safeHTML}}
    {{ end}}
  </div>
</div>
